.container {
    overflow: hidden;
    padding-top: 10px
}

body {
    font-size: 0.7rem;
    font-family: sans-serif;
}

h1 {
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
}

h2 {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
}

h3 {
    font-size: .9rem;
    font-weight: 500;
    color: #555658;
    text-transform: uppercase;
}

.hidden {
    display: none;
}

.header {
    display: flex;
    justify-content: center;
}

section {
    align-self: center;
}

#tags {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* input {
    min-width: 400px;
    height: 50px;
} */

#searchInput {
    display: block;
    min-width: 450px;
    /* height: calc(1.5em + 0.75rem + 2px); */
    height: 40px;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.advanced-search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-control-btn {
    display: flex;
    justify-content: space-between;
}


/* .content {
    display: flex;
} */

.filters {
    padding-top: 25px;
}

.filter {
    margin: 8px 0;
    padding: 10px 5px;
}


/* Advanced search tags */

.filter label {
    margin: 0;
    /* padding: 5px; */
}

.filter label button {
    font-size: .7rem;
    font-weight: 500;
    background: 0 0;
    outline: 10;
    border: none;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 3px;
}

.filter label .is-selected {
    color: #FFF;
    background: #2F9C67;
    box-shadow: #f0473a;
}

.is-selected {
    color: #FFF;
    background: #2F9C67;
    box-shadow: #f0473a;
}


/* Advanced search tags */

.filter select {
    width: 90%;
    height: 35px;
    outline: none;
    font-size: .7rem;
    font-weight: 500;
    color: #000;
    background: 0 0;
    /* border: 1px solid #f0473a; */
    border: 1px solid #000;
    border-radius: 5px;
    padding-left: 5px;
}


/* Submit and clear filters */

.search-control-btn {
    margin-top: 10px;
    padding-top: 10px;
}

.search-btn {
    font-size: .7rem;
    font-weight: 600;
    background: 0 0;
    outline: none;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    height: 35px;
    margin: 0 5px;
    text-transform: uppercase;
}

.submit {
    background: #2F9C67;
    color: #fff;
}

.reset-btn {
    background: #f0473a;
    color: #fff;
}

.scrollable {
    height: auto;
    overflow-y: auto;
    max-height: calc(100vh - 150px);
    padding: 0 10px;
}


/* .filters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
} */

.dimensionFilter {
    padding: 0 20px 0 20px;
}

.dimensionFilter .btn {
    outline: none;
    display: block;
    padding: 2px 5px 2px 5px;
    font-size: 0.7rem;
    /* line-height: 1.5; */
    /* color: #fff; */
}

#datatable h5 {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    /* color: #555658; */
}

#datatable h6 {
    font-size: .8rem;
    font-weight: 300;
    color: #555658;
}


/* Remove datatable row header border */

table.dataTable.no-footer,
table.dataTable thead th,
table.dataTable thead td {
    /* padding: 10px 18px; */
    border-bottom: 0 solid #fff;
}


/* Remove datatable sorting icons */

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background: none;
}


/* Responsive */

@media only screen and (max-width: 767px) {
    .content {
        display: flex;
        flex-direction: column;
    }
}